body {
    background-color:#1F2937;
    font-family: 'Inter';
    color: white;
}

h1 {
    font-family: 'Karla';
    margin-bottom: 10px;
    font-size: 40px;
}

span {
    display: block;
    color: #4ADF86;

}

p {
    color: #D5D4D8;
    margin-top: 0;
    font-size: 20px;
}

.container {
margin-top: 60px;
margin-left: 30px;
}

button {
    font-family: inherit;
    background-color: #10B981;
    border: 0;
    padding: 10px 15px;
    border-radius: 6px;
    color: inherit;
    margin-top: 30px;
    font-size: 16px;
}

hr {
    width: 430px ;
    margin-left: 0;
    border:1px solid #2F3E53;
    margin-top: 30px;
}

.password {
    display: flex;
    width: 430px;
    justify-content: space-between;
    margin-top: 30px;
    
}

.pass {
    background-color: #273549;
    border-radius: 6px;
    width: 200px;
    padding-top: auto;
    padding-bottom: auto;
    height: 40px;
    color: #10B981;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;

}
